canvas {

    display:block;
    background-color: black;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: black;
    display:list-item;
    
    
  }
  

  .buttonClass{
    float: top;
    margin-top: 20px;
    
  }
  .buttonClass button{ 
    position:relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: black;
    color:white;
    padding-right: 40px;
    padding-left: 40px;
    border-color: black;
    float:right;
    text-align: center;
    border-width: 0px;
    margin-top: 15px;
    
   
  }
  .buttonClass button:hover{ 
    
    color: orange;
    transition: 0.7s;
   
    
  }
  
  .name h2 {
    background-color: black;
    position: relative;
    color: rgb(147, 200, 171);
    float: left;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 45px;
    font-weight: 900;
    font-family: fantasy;
  }
  
  .heading {

    color: white;
    position: absolute;
    left:35%;
    align-self: center;    
    margin-top: 170px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;

  }


  .cards{
    
    display:flex;
    top:300px;
    flex-direction: wrap;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    
    margin:40px;
    padding:40px;
    align-items: center;
    justify-content: center;
    background-image: url("lion.avif");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flip-card {
    background-color: transparent;
    position: relative;
    width: 400px;
    height: 450px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: transparent;
    color: black;
    padding: 20px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:dodgerblue;
    color: white;
    transform: rotateY(180deg);
    
  }